<?xml version="1.0" encoding="UTF-8"?>
<!-- https://www.baeldung.com/spring-boot-logging -->
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
    <property name="LOGS" value="./logs" />

    <!--    <appender name="Console"-->
    <!--              class="ch.qos.logback.core.ConsoleAppender">-->
    <!--        <layout class="ch.qos.logback.classic.PatternLayout">-->
    <!--            <Pattern>-->
    <!--                %cyan(%d{ISO8601}) %highlight(%-5level) [%cyan(%t)] %yellow(%C{1.}): %msg%n%throwable-->
    <!--            </Pattern>-->
    <!--        </layout>-->
    <!--    </appender>-->

    <!-- LOG everything at INFO level -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

    <!-- LOG "com.example*" at TRACE level -->
    <logger name="org.infinispan.client.hotrod" level="INFO"/>

    <!-- LOG "com.example*" at TRACE level -->
    <logger name="com.alopezme.hotrodtester" level="DEBUG"/>
</configuration>
